@{
    ViewBag.Title = "Giới thiệu về PetQ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>
    - PetQ có trụ sở chính tại Thành phố Hồ Chí Minh, Việt Nam và là một công ty phân phối các sản phẩm dành cho thú cưng. Với tiền thân là công ty Kingcom, đơn vị phân phối phụ kiện ngành phim ảnh uy tín hàng đầu Việt Nam, PetQ được thừa hưởng hơn 20 năm kinh nghiệm trong việc quản lý hàng hóa, phủ sóng thương hiệu, và chăm sóc khách hàng.
</p>
<p>
    - Với mỗi sản phẩm đều được tạo ra từ tình yêu thương dành cho động vật, PetQ mong muốn mang đến thị trường Việt Nam những sản phẩm chất lượng cho thú cưng đáp ứng được nhu cầu về cả tinh thần lẫn thể chất. Điều này sẽ góp phần cải thiện chất lượng cuộc sống cho các bé thú cưng, đồng thời cũng giải quyết được những rắc rối mà người nuôi thú cưng gặp phải.
</p>
<p>
    - Tại PetQ, ít nhất 75% đội ngũ nhân viên đều nuôi thú cưng, từ đó chúng tôi có thể thấu hiểu sâu sắc về nhu cầu của người nuôi và nguyện vọng tìm kiếm những sản phẩm tốt nhất dành cho thú cưng của họ. Đội ngũ PetQ sẽ luôn lắng nghe ý kiến của khách hàng, tạo thành một cộng đồng yêu thú cưng để có thể khắc phục và phát triển các sản phẩm, dịch vụ cho thú cưng tốt hơn nữa.
</p>
<p>
    - Lời cuối, PetQ xin cam kết các sản phẩm mà mình cung cấp và phân phối đều an toàn, chất lượng và thân thiện với thú cưng. Đến với PetQ, chúng tôi sẽ làm hài lòng thú cưng của bạn.
</p>
<img src="https://down-vn.img.susercontent.com/file/vn-11134210-7qukw-les1hoi1fl1z5e" alt="My Image" style="width: 100%; height: 100%;">

